<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="logo"><img src="../images/logo1.png" alt=""></div>
    <div class="banner">
        <img src="../images/banner1.jpg" alt="">
        <div class="login">
            <div class="dl_type">
                <div>
                    <a>账号登录</a>
                </div>
            </div>
            <label class="labolbox">
                <input type="text" placeholder="邮箱/手机号码/小米ID" id="username">
                <input type="password" placeholder="密码" id="password">
                <button type="button" class="dlbt">登录</button>
            </label>
            <a href="./logon.html" class="ipone_login">注册</a>
        </div>

    </div>
    <div class="footer">
        <ul>
            <li>简体</li>
            <li>|</li>
            <li>繁体</li>
            <li>|</li>
            <li>English</li>
            <li>|</li>
            <li>常见问题</li>
            <li>|</li>
            <li>隐私政策</li>
        </ul>
        <div>
            <a>小米公司版权所有-京ICP备10046444-</a>
            <a>京公网安备11010802020134号</a>
        </div>
    </div>

    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>