<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/logon.css">
</head>

<body>
    <div class="box">
        <div class="miLogo"><img src="../images/milogo.png" alt=""></div>
        <h3>注册小米账号</h3>
        <div class="phoneNum">
            <label class="labolbox">
                <input type="text" placeholder="邮箱/手机号码/小米ID" id="username">
                <input type="text" placeholder="昵称" id="nickname">
                <input type="password" placeholder="密码" id="password">
                <button type="button" class="reg">登录</button>
            </label>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li>简体</li>
            <li>|</li>
            <li>繁体</li>
            <li>|</li>
            <li>English</li>
            <li>|</li>
            <li>常见问题</li>
            <li>|</li>
            <li>隐私政策</li>
        </ul>
        <div>
            <a>小米公司版权所有-京ICP备10046444-</a>
            <a>京公网安备11010802020134号</a>
        </div>
    </div>

    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../js/logon.js"></script>
</body>

</html>